$primary-color: #038724;
$error-color: #c70000;

$form-field-height: 32px;
$form-field-border-color: #b2c7c7;
$form-field-disabled-border-color: #d3dfdf;
$form-label-color: #5a6363;
$form-control-color: #000000;
$form-control-disabled-color: #5a6363;
$form-control-padding-left: 16px;
$form-control-padding-right: 8px;
$form-control-border-radius: 4px;
$form-control-font-size: 12px;
$form-control-font-weight: normal;
$form-control-font-stretch: normal;
$form-control-font-style: normal;
$form-control-letter-spacing: normal;

.form-control-font-properties {
  color: $form-control-color;
  font-family: inherit;
  font-size: $form-control-font-size;
  font-weight: $form-control-font-weight;
  font-stretch: $form-control-font-stretch;
  font-style: $form-control-font-style;
  padding-right: 0px;
}

:host(.select) {
	position: relative;
	display: inline-block;
	width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

	.select__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: inherit;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: $form-control-padding-left;
    padding-right: $form-control-padding-right;

    span {
      @extend .form-control-font-properties;

      &.placeholder {
        color: $form-label-color;
      }
    }

    ibk-icon {
      transition: transform 0.4s ease;
    }

    &:disabled {
      cursor: default;

      span {
        color: $form-control-disabled-color;

        &.placeholder {
          color: $form-control-disabled-color;
        }
      }
    }
	}

	.select__list {
		position: absolute;
		display: block;
		left: 0;
		right: 0;
		max-height: 300px;
		overflow: auto;
		margin: 0;
		padding: 0;
		border: 1px solid $form-field-border-color;
		border-top: 0px solid transparent;
		list-style-type: none;
		opacity: 0;
		pointer-events: none;
		transform-origin: top left;
		transform: scale(1,0);
		transition: all ease-in-out .3s;
		z-index: 10;
  }

	.select__list-item {
		display: block;
		list-style-type: none;
		background: #fff;
		border-top: 1px solid $form-field-border-color;
    height: $form-field-height;
		line-height: $form-field-height;
		cursor: pointer;
    transition: all ease-in-out .3s;
    padding-left: $form-control-padding-left;
    margin: 0;
    @extend .form-control-font-properties;

		&:hover {
			background-color: #e1eaea;
      color: $primary-color;
			transition: all ease-in-out .3s;
		}
  }

  &.active {
    .select__button {
      ibk-icon {
        transform: rotate(-180deg);
      }
    }
    .select__list {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1,1);
    }
  }
}
