$app-primary-palette: (
    50 : #e8e8ea,
    100 : #c5c6cb,
    200 : #9ea1a9,
    300 : #777b86,
    400 : #595e6c,
    500 : #3c4252,
    600 : #363c4b,
    700 : #2e3341,
    800 : #272b38,
    900 : #1a1d28,
    A100 : #6e93ff,
    A200 : #3b6cff,
    A400 : #0846ff,
    A700 : #003bee,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$app-accent-palette: (
    50 : #e0f5ea,
    100 : #b3e5ca,
    200 : #80d4a7,
    300 : #4dc383,
    400 : #26b669,
    500 : #00a94e,
    600 : #00a247,
    700 : #00983d,
    800 : #008f35,
    900 : #007e25,
    A100 : #acffbd,
    A200 : #79ff94,
    A400 : #46ff6c,
    A700 : #2cff57,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

