$primary-color: #00bb31;
$error-color: #eb0045;
$disabled-bgcolor: lightgrey;
$disabled-color: white;
$form-field-text-color: #333;
$form-control-height: 36px; //2.25rem
$form-control-padding-left: 14px;

.form-field {
  color: $form-field-text-color;

  * {
    box-sizing: border-box;
  }

  .label-container {
    display: block;
    margin-bottom: .5rem;
    font-size: .75rem;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
  }

  .input-container {
    display: flex;
    height: $form-control-height;
    max-height: $form-control-height;
    margin-bottom: 0.25rem;
    position: relative;
    border-radius: 0.25rem;
    // border: 1px solid $form-field-text-color;
    box-shadow: 0 0 0 1px $form-field-text-color;

    input {
      flex: 1;
      padding-left: $form-control-padding-left;
      padding-right: 0px;
      border: none;
      outline: none;
      letter-spacing: normal;
      background-color: transparent;
      color: $form-field-text-color;
    }

  }

  &-error {
    .input-container {
      // border-color: $error-color !important;
      box-shadow: 0 0 0 2px $error-color !important;
    }
  }

  &-focused {
    .input-container {
      // border: 2px solid $primary-color;
      box-shadow: 0 0 0 2px $primary-color;
    }
  }
}
