$primary-color: #038724;
$error-color: #c70000;

$form-field-height: 32px;
$form-field-border-color: #b2c7c7;
$form-field-disabled-border-color: #d3dfdf;
$form-control-color: #000000;
$form-control-padding-left: 16px;
$form-control-border-radius: 4px;
$form-control-font-size: 12px;
$form-control-font-weight: normal;
$form-control-font-stretch: normal;
$form-control-font-style: normal;
$form-control-letter-spacing: normal;

.form-field {
  display: inline-block;

  * {
    box-sizing: border-box;
  }

  & > label {
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #5a6363;
  }

  .input-container {
    display: flex;
    height: $form-field-height;
    max-height: $form-field-height;
    margin-bottom: 16px;
    position: relative;
    border-radius: $form-control-border-radius;
    box-shadow: 0 0 0 1px $form-field-border-color;
    // border: 1px solid $form-field-border-color;

    input {
      flex: 1;
      padding-left: $form-control-padding-left;
      padding-right: 0px;
      border: none;
      outline: none;
      background-color: transparent;
      color: $form-control-color;
      font-size: $form-control-font-size;
      font-weight: $form-control-font-weight;
      font-stretch: $form-control-font-stretch;
      font-style: $form-control-font-style;
      letter-spacing: $form-control-letter-spacing;
    }

  }

  &-error {
    .input-container {
      // border-color: $error-color !important;
      box-shadow: 0 0 0 1.5px $error-color !important;
    }
  }

  &-focused {
    .input-container {
      // border: 1.5px solid $primary-color;
      box-shadow: 0 0 0 1.5px $primary-color;
    }
  }
}
