$primary-color: #038724;
$informative-color: #2f4a9f;
$success-color: #038724;
$warning-color: #ff9600;
$error-color: #eb0045;

$form-field-height: 32px;
$form-field-border-color: #b2c7c7;
$form-field-disabled-border-color: #d3dfdf;
$form-label-color: #5a6363;
$form-control-color: #000000;
$form-control-disabled-color: #5a6363;
$form-control-padding-left: 16px;
$form-control-padding-right: 8px;
$form-control-border-radius: 4px;
$form-control-font-size: 12px;
$form-control-font-weight: normal;
$form-control-font-stretch: normal;
$form-control-font-style: normal;
$form-control-letter-spacing: normal;

.form-control-font-properties {
  color: $form-control-color;
  font-family: inherit;
  font-size: $form-control-font-size;
  font-weight: $form-control-font-weight;
  font-stretch: $form-control-font-stretch;
  font-style: $form-control-font-style;
  padding-right: 0px;
}

.form-field {
  display: inline-block;
  font-family: inherit;
  width: 160px;

  & > label {
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: $form-label-color;
  }

  .form-control {
    display: flex;
    align-items: center;
    height: $form-field-height;
    max-height: $form-field-height;
    margin-bottom: 16px;
    position: relative;
    border-radius: $form-control-border-radius;
    box-shadow: 0 0 0 1px $form-field-border-color;
    font-family: inherit;

    &-input {
      padding-left: $form-control-padding-left;
      padding-right: $form-control-padding-right;

      input {
        flex: 1;
        border: none;
        outline: none;
        background-color: transparent;
        height: 100%;
        z-index: 9;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        @extend .form-control-font-properties;

        &::placeholder { /* Most modern browsers support this now. */
          color: $form-label-color;
        }
      }
    }

    span[slot="prefix"], span[slot="suffix"] {
      @extend .form-control-font-properties;
    }

    ibk-icon {
      cursor: text;
      font-size: 18px !important;
      height: 18px;
      width: 18px;
      color: $form-field-border-color;
    }

  }

  &-focused {
    .form-control {
      box-shadow: 0 0 0 1.5px $primary-color;

      ibk-icon {
        color: $primary-color;
      }
    }
  }

  &-informative {
    .form-control {
      box-shadow: 0 0 0 1.5px $informative-color;

      ibk-icon {
        color: $informative-color;
      }
    }
  }

  &-success {
    .form-control {
      box-shadow: 0 0 0 1.5px $success-color;

      ibk-icon {
        color: $success-color;
      }
    }
  }

  &-warning {
    .form-control {
      box-shadow: 0 0 0 1.5px $warning-color;

      ibk-icon {
        color: $warning-color;
      }
    }
  }

  &-error {
    .form-control {
      box-shadow: 0 0 0 1.5px $error-color;

      ibk-icon {
        color: $error-color;
      }
    }
  }

  &-disabled {
    .form-control {
      box-shadow: 0 0 0 1px $form-field-disabled-border-color;

      &-input input {
        color: $form-control-disabled-color;

        &::placeholder { /* Most modern browsers support this now. */
          color: $form-control-disabled-color;
        }
      }

      ibk-icon {
        color: $form-field-disabled-border-color;
      }

      span[slot="prefix"], span[slot="suffix"] {
        color: $form-control-disabled-color;
      }
    }
  }
}
